
<%= stylesheet_link_tag '/assets/poke' , media: 'all'%>
<body>


<div class="navbar ">
  <div class="nav-brand">
  <%= image_tag "pngwing.png", height: 50 %>
  </div>
  <div class="nav-container">
      <li class="nav-item">
        <%= link_to 'Home', pokemon_index_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Search Pokemon',new_pokemon_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Random Pokemon',pokemon_random_pokemon_path, class: 'nav-link' %>
      </li>
  </div>
</div>


<%= render "shared/search", { path: new_pokemon_path } %>
<h1 class="title">Choose pokemon!</h1>

  <%=render "shared/card" %>
  </div>


</body>
