
<%= stylesheet_link_tag '/assets/poke' , media: 'all'%>
<body>


<div class="navbar ">
  <div class="nav-brand">
  <%= image_tag "pngwing.png", height: 50 %>
  </div>
  <div class="nav-container">
      <li class="nav-item">
        <%= link_to 'Home', pokemon_index_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Search Pokemon',new_pokemon_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Random Pokemon',pokemon_random_pokemon_path, class: 'nav-link' %>
      </li>
  </div>
</div>


<%= render "shared/search", { path: new_pokemon_path } %>
<h1 class="title">Choose pokemon!</h1>
<div class="cards-wrapper">
  <% if @pokemons.present? %>
  <% @pokemons.each do |poke|%>

      <div class="card">
      <div class="card-item">

        <%=link_to poke.name, pokemon_path(poke.id) %>
      <p>No.  <%= poke.order %></p>
      </div>
      <div class="card-item">
      <p>Name:  <%= poke.name %></p>
      </div>
      <div class="card-picture">
      <%= image_tag(poke.image_url, size: "200") if poke.image_url %>
      </div>
  </div>
  <% end %>
  <% end %>
  </div>


</body>
