
<%= stylesheet_link_tag '/assets/poke' , media: 'all'%>
<body>


<div class="navbar ">
  <div class="nav-brand">
  <%= image_tag "pngwing.png", height: 50 %>
  </div>
  <div class="nav-container">
      <li class="nav-item">
        <%= link_to 'Home', pokemon_index_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Search Pokemon',new_pokemon_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Random Pokemon',pokemon_random_pokemon_path, class: 'nav-link' %>
      </li>
  </div>
</div>
<%= render "shared/search", { path: pokemon_index_path } %>

 <%#=  @pokemon.nil?%>
<%#=@pokemon.class %>
<%#=@pokemon.name %>
<%# partial_content = render_to_string(partial: 'shared/card', locals: {pokemon: @pokemon} ).strip %>
<%# if partial_content.present? %>
  <%#= partial_content %>
<%# else %>
<!--  <div class="css_for_no_info">-->
    <%#= render something else %>
<!--    <p> no such pokemon</p>-->
  </div>
<% if @pokemon.name.nil? %>
<p> no such pokemon</p>
<% else %>
  <%= render partial: 'shared/card', locals: {pokemon: @pokemon} %>
<% end %>
<!--  <p>est takoi pokemooon</p>-->

<%# else %>
<!--  <p> no such pokemon</p>-->

<%# end %>


<%# if @pokemon.present? %>
  <%#= render partial: 'shared/card', locals: {pokemon: @pokemon} %>
  <%# else%>
<!--  <p> no such pokemon</p>-->
<%# end %>

</body>
