<%= stylesheet_link_tag '/assets/poke' , media: 'all'%>
<%= render "shared/nav" %>
<div class="show-card">
  <% if @pokemon.present? %>
  <div class="picture-card">
  <p class="card-name"> <%= @pokemon.name %></p>
    <%= image_tag(@pokemon.image_url, size: "300") %>
    </div>
    <div class="info-card">
        <p>No. <%= @pokemon.order %></p>
        <p>Weight: <%= @pokemon.weight %></p>
        <p>Type: <%= @pokemon.poke_type %></p>
        <p>Ability: <%= @pokemon.poke_ability %></p>
    </div>
    </div>
  <% end %>
