<div>
  <%=@response %>
  <% if @pokemon.present? %>
    <table>
      <tr>
        <td>No.</td>
        <td><%= @pokemon.order %></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><%= @pokemon.name %></td>
      </tr>

    </table>
    <%= image_tag(@pokemon.image_url, size: "200") %>
    <table>
      <tr>
        <td>Weight:</td>
        <td><%= @pokemon.weight %></td>
      </tr>
      <tr>
        <td>Type:</td>
        <td><%= @pokemon.poke_type %></td>
      </tr>
      <tr>
        <td>Ability:</td>
        <td><%= @pokemon.poke_ability %></td>
      </tr>
    </table>
    </div>
  <% end %>